body {
  background:#072e56;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-section {
  background: transparent;
  max-width: 600px;
  width: 40%;
  height: 300px;
  margin: 30px auto;
}

.clock-holder {
  width: none;
  background: lightblue;
  margin: 30px auto;
  position: relative;
}


.stopwatch {
  padding: 30px 0px;
  text-align: center;
}
.stopwatch span{
  background:rgb(235, 242, 245);
  color: black;
  display: inline-block;
  font-family: monospace;
  border: 2px solid black;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  width: 50px;
}

.stopwatch .stopwatch-btn {
  background: #fff;
  margin-top: 30px;
  margin-left: 3px;
  border: none;
  padding: 16x 5px;
  font-size: 12px;
  text-transform: uppercase;
  width: 100px;
  transition: background 1s;
  cursor: pointer;
}
.stopwatch .stopwatch-btn-red{
  border: 2px solid #C85454;
  color: #C85454;
}
.stopwatch .stopwatch-btn-yel{
  border: 2px solid green;
  color: green;
}

.stopwatch .stopwatch-btn-gre{
  border: 2px solid black;
  color: rgb(2, 26, 41);
}
.stopwatch .stopwatch-btn-red:hover {
  background: white;
  border: 2px solid black;
  color: black;
}
.stopwatch .stopwatch-btn-yel:hover {
  background: white;
  border: 2px solid black;
  color: black;
}
.stopwatch .stopwatch-btn-gre:hover {
  background: white;
  border: 2px solid black;
  color: black;
}